
h1 {
  color: red;
  width: 900px;
  font-size: 400%;
}
h2 {
  color: blue;
  width: 7px;
  font-size: 1000%;
}
h3 {
  font-size:xx-small;
  color: deeppink;
  background: cyan;
}
h4{
  font-family: "Apple Chancery";
  font-size: 300px;
  color: coral;
}
h5{
  background-attachment: fixed;
  background: lightslategrey;
  font-family: DialogInput;
  font-size: larger;
}
h6{
  font-language-override: normal;
  font-stretch: ultra-expanded;
  font-size: 1px;

}
p1 {
  border: thick solid red ;
  margin-left: 20px;
  margin-right: 20px;
  background: pink;
  color: blue;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 25px;
  font-weight: normal;
  alignment: center;
  width: 50%;
}
p2{
  margin-right: 30px;
  margin-left: 30px;
  background: black;
  color: deepskyblue;
  font-family: Calibri,Helvetica,sans-serif;
  font-size: 40px;
  font-weight: bold;
  alignment: right;
  width: 50%;
  border: thick dashed pink;

}
p3{
  text-indent: 40px;
  background: aqua;
  color: red;
  alignment: left;
  font-family: Times New Roman,Serif;
  font-size: 25px;
  width: 50%;
  font-style: italic;
  border: thin ridge black;
}
